
@font-face { font-family: 'pacifico';
src: url('Pacifico.zip');}
h1, h2 { font-family: pacifico, Georgia, serif;}
.p1{
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    line-height: 2em;
} 
.p2{
    text-transform: capitalize;
    letter-spacing: 2em;
}
.p3{
    text-transform: lowercase;
    text-decoration: none;
    word-spacing: 2em;
}
.p4{
    text-align: right;
}
h4{
    background-image: url(./myyyy.jpeg);
    background-repeat: no-repeat;
    text-indent:-50px; 
    width: 200px;
    height: 200px;
    border-radius: 1px;
    box-shadow: 10px;
}    
.credit{
    text-indent: 5000px;
}    